body {
    display: flex ;
    min-height: 100vh;
    flex-direction: column;
    background-color: #E9E9E9;
  }

  main {
    flex: 1 0 auto;
  }
  .brand-logo {
    margin-left: 20px;
  }

  nav {
    background-color:#6A6A6A;
  }
  nav .brand-logo {
    font-size: 1.5rem !important;
    color:#fff;
  }
  .page-footer {
    background-color:#6A6A6A
  }
  .graph {
    margin-top:50px;
  }
  .graph .axis {
    stroke-width: 1;
  }

  .graph .axis .tick line {
    stroke: black;
  }

  .graph .axis .tick text {
    fill: black;
    font-size: 0.7em;
  }

  .graph .axis .domain {
    fill: none;
    stroke: black;
  }

  .graph .group {
    fill: none;
    stroke: black;
    stroke-width: 1.5;
  }