[Desktop Entry]
Name=HART GUI
Comment=Start the GUI for the HART telemetry software
Exec=python /home/glenn/100kspring1/100kRocketryAvionics2017-18/GUI.py
Terminal=false
Type=Application
Categories=Game;
