[Desktop Entry]
Name=3D Trace
Comment=Start 3D trace of flight path
Exec=/home/glenn/100k11/100kRocketryAvionics2017-18/3d_trace/trace
Terminal=false
Type=Application
Categories=Game;
