{% extends "base.html" %} {% block title %}Staged Intervention{% endblock %} {% block head %} {{ super() }}
<style type="text/css">
    .important {
        color: #336699;
    }
</style>
<link rel="stylesheet" type="text/css" href="/static/css/epoch.min.css"> {% endblock %} {% block content %}
<div class="row">
    <div class="col s10">
        <div class="graph"></div>
    </div>
    <div class="col s2">
        <span id="altitudeGaugeContainer"></span>
        <span id="speedGaugeContainer"></span>
        <span id="velocityGaugeContainer"></span>
    </div>
</div>
{% endblock %} {%block scripts %}
<script type="text/javascript" src="static/js/guage.js"></script>
<script>
    $.ajaxSetup({
        cache: false
    });
    (function poll() {
        setTimeout(function () {
            $.ajax({
                cache: false,
                dataType: "json",
                url: "http://0.0.0.0:5000/api/v1.0/telemetry?_=" + (new Date).getTime(),
                method: 'GET',
                success: function (data) {
                    if(data.result=="no data") {
                        poll();
                    } else {
                    updateGauges(data);
                    console.log(data); 
                    poll();
                    }
                }
            });
        }, 1000);
    })();
</script>
<script src="http://d3js.org/d3.v3.min.js"></script>
<script src="/static/js/chart.js"></script>



{% endblock %}