{% extends "base.html" %} {% block title %}Staged Intervention{% endblock %} {% block head %} {{ super() }}
<style type="text/css">
    .important {
        color: #336699;
    }
</style>
<link type="text/css" rel="stylesheet" href="static/css/c3.css" /> {% endblock %} {% block content %}
<div class="row" style="margin-bottom:0px;">
    <div class="col s8">
        <div class="card">
            <span class="card-title">Flight Chart</span>

            <div class="card-content">
                <div id="chart"></div>
            </div>
        </div>
    </div>
    <div class="col s4">
        <div class="card">
            <span class="card-title">Stage 1</span>
            <div class="card-content">
                <div id="secondTenthsExample" style="font-size:28px">
                    <div class="values"></div>
                </div>
            </div>
        </div>
        <div class="card">
            <span class="card-title">Booster</span>
            <div class="card-content">
                <span id="speed_boosterGaugeContainer"></span>
                <span id="altitude_boosterGaugeContainer"></span>
            </div>
        </div>
        <div class="card">
            <span class="card-title">Sustainer</span>
            <div class="card-content">
                <span id="speed_sustainerGaugeContainer"></span>
                <span id="altitude_sustainerGaugeContainer"></span>
                
            </div>
        </div>
    </div>
</div>
    {% endblock %} {%block scripts %}
    <script type="text/javascript" src="static/js/guage.js"></script>
    <script src="http://d3js.org/d3.v3.min.js"></script>
    <script src="/static/js/c3.js"></script>
    <script src="/static/js/flight_chart.js"></script>
    <script src="/static/js/main.js"></script>
    <script src="/static/js/timer.min.js"></script>
    <script>
        start()
    </script>
    <script>
   var timer = new Timer();
    timer.start({ precision: 'secondTenths' });
    timer.addEventListener('secondsUpdated', function (e) {
        $('#secondTenthsExample .values').html("<span>T+ </span>"+timer.callbackTimer().toString(['hours', 'minutes', 'seconds', 'secondTenths']));
    });                 
    </script>

    {% endblock %}