<html>

<head>
  <meta charset="utf-8">
  <title>Dashboard Starter UI, by Keen IO</title>
  <!-- Scripts -->
  <script src="http://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>
</head>


<body>

  <h1>Async Test</h1>

</body>



<script>
  $.ajaxSetup({ cache: false });
  (function poll() {
      setTimeout(function () {
  $.ajax({
      cache: false,
      dataType: "json",
      url: "http://0.0.0.0:5000/api/v1.0/telemetry?_="+(new Date).getTime(),
      method: 'GET',
      success: function (data) {
        updategauages(data)
        console.log(data);
        poll();
      }
    });}, 1000);
  })();
</script>
</html>


