body {
    text-align: center;
    font-family: Sans-serif;
    margin: 0;
    color:white;
}

.axis .domain, .axis .tick line {
    stroke-width: 8px;
    stroke: white;
    color:white;
}

.axis .tick text {
    font-size: 30px;
    fill:white;
    color: white;
}

.needle {
    fill: white;
}

.label {
    fill: white;
    font-size: 36px;
}
